/* Coolors Exported Palette - coolors.co/caebf2-efefef-a9a9a9-ff3b3f-181818 */

/* HSL */
$color1: hsla(191%, 61%, 87%, 1);
$color2: hsla(0%, 0%, 94%, 1);
$color3: hsla(0%, 0%, 66%, 1);
$color4: hsla(359%, 100%, 62%, 1);
$color5: hsla(0%, 0%, 9%, 1);

/* RGB */
$color1: rgba(202, 235, 242, 1);
$color2: rgba(239, 239, 239, 1);
$color3: rgba(169, 169, 169, 1);
$color4: rgba(255, 59, 63, 1);
$color5: rgba(24, 24, 24, 1);